<div class="app-modal app-position-absolute app-top-50 app-start-0" [class.app-show]="show" [class.app-hide]="!show">
  <div class="app-d-flex app-py-1 app-px-2" [style.flex-direction]="'column'" [style.width]="'90%'" >
    <ng-container *ngIf="!!contentTemplate()">
      <ng-container *ngTemplateOutlet="contentTemplate()!;"></ng-container>
    </ng-container>
  </div>
  <div class="app-d-flex app-py-2 app-px-2 app-bg-tertiary">
    <a class="app-btn app-btn-primary" (click)="okClick.emit()">Ok</a>
    <a class="app-btn app-btn-secondary app-mx-1" (click)="onCancelClick($event)">Cancel</a>
  </div>
</div>
