<div class="app-px-2">
  <h4>Requisitions</h4>
</div>
<div class="app-card app-my-2">
  <div class="app-card-header">
    <a class="app-btn app-btn-primary app-position-relative" (click)="config.showNewRequisitionModal=true">
      New
      <app-modal [contentTemplate]="modalContent"
                 [(show)]="config.showNewRequisitionModal"
                 (okClick)="onCreateNewRequisition()">

      </app-modal>
    </a>
  </div>
  <div class="app-card-body">
    <app-table *ngIf="requisitionTableConfig" [tableConfiguration]="requisitionTableConfig"></app-table>
  </div>
</div>

<ng-template #modalContent>
  {{config.newRequistionFormConfig | json}}
  <div class="app-my-2" [style.font-weight]="'bold'">New Requisition</div>
  <div>
    <app-form-input *ngFor="let inputConfig of config.newRequistionFormConfig" [config]="inputConfig">
    </app-form-input>
  </div>
</ng-template>

