<table>
  <thead>
    <tr>
      <th *ngFor="let colConfig of tableConfiguration.columnConfigurations">
        {{colConfig.label}}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="tableConfiguration.data.length === 0" class="app-py-2">
      <td class="app-text-center" [attr.colspan]="tableConfiguration.columnConfigurations.length">No Data</td>
    </tr>
    <tr *ngFor="let rec of tableConfiguration.data">
      <td *ngFor="let colConfig of tableConfiguration.columnConfigurations" class="app-text-center">
        {{display(rec, colConfig.key)}}
      </td>
    </tr>
  </tbody>
</table>
